includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-php-parser/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	excludes_analyse:
		- tests/*/data/*
		- tests/NetteObjectChild.php

	ignoreErrors:
		- '~^Variable property access on PhpParser\\Node\.$~'
